@import './fonts.css';

$enable-rounded: false;
$font-family-sans-serif: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$font-family-monospace: 'Roboto Mono', 'Liberation Mono', 'Courier New', monospace !default;

@import './light.scss';
@import './dark.scss';
@import '~bootstrap/scss/bootstrap.scss';
